.about-content-banner {
  background-color: rgba(196, 38, 38, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-content-banner img {
  width: 50vw !important;
  height: auto !important;
}

.about-content-banner h2 {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  color: white;
  font-size: 3em;
  letter-spacing: 1px;
  padding: .2em;
}

.about-content {
  background-color: #111;
  color: white;
  padding: 5vh;
}

.about-content img {
  width: 50vw !important;
  height: auto !important;
  padding-bottom: 10vh;
}

.client {
  display: flex;
  justify-content: center;
  height: 25vw;
  margin-bottom: 5vw;
  width: 100%;
}

.client-quote {
  background-color: white;
  color: black !important;
  padding: 5vw;
  width: 50%;
}

.client-quote p {
  color: black !important;
}

.client-picture {
  background-image: url("https://cdn.buttercms.com/mBTzNDTcRl6zSVv7T6h4");
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 50vw;
  width: 50%;
}


.vote {
  display: flex;
  justify-content: left;
  letter-spacing: 15px;
}

.blog-container img {
  width: 50vw;
  height: auto;
}

.blog-content {
  background-color: #111;
}

.blog-container {
  display: table;
  background-color: #111;

  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

.blog-container p, h3 {
  color: white !important;
}

.quote {
  background-image: linear-gradient(rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.2)), url("https://cdn.buttercms.com/nj99dCRQRRSEbSLBVjvj");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
}

.quote h1 {
  font-family: "IBM Plex Sans";
  font-size: 30px;
  color: white;
}

.about-link a {
  text-decoration: none !important;
  color: black !important;
}

.about-link {
  border-bottom: 1px solid;
  border-color: black;
}

.about-link a:hover {
  text-decoration: none;
}

.about-link-content {
  text-align: center;
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-link-content:hover {
  color: red;
  transition: all 0.2s ease 0s;
}

.landing-contact-banner {
  background-color: rgba(196, 38, 38, 0.9);
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.landing-contact-banner h1 {
  margin-bottom: 0;
}

.landing-contact {
  background-color: #282727;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.landing-contact-photo {
  background-image: url("https://cdn.buttercms.com/7eHjtT0R0KUgfLwzOIsA");
  background-size: cover;
  width: 350px;
  height: 500px;
}

.landing-contact-form {

}

.landing-testimonials {
  display: flex;
  justify-content: space-around;
}

.landing-testimonial-card1 {
  background-image: url("https://cdn.buttercms.com/THQwdfyQWCfmpLJQCU3x");
  background-size: cover;
  height: 400px;
}

.landing-testimonial-card2 {
  background-image: url("https://cdn.buttercms.com/RSTyXfGQStmMGzDMW0c3");
  background-size: cover;
  height: 400px;
}

.landing-testimonial-card3 {
  background-image: url("https://cdn.buttercms.com/mBTzNDTcRl6zSVv7T6h4");
  background-size: cover;
  height: 400px;
}

.about-card-info {
  background-color: white;
  height: 600px;
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-card-info h1 {
  text-align: center !important;
}

.tyler-bio {
  background-color: white;

  padding-right: 0;
}

.tyler-bio h3 {
  color: black !important;
}

.tyler-portrait {
  background-image: url("https://cdn.buttercms.com/RQxJB6pBTrmdIxRS2Oas");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bio-content p {
  color: black !important;
}

.more-card {
  padding-top: 50px;
  background-color: white;
  width: 30%;
  /*display: inline-grid;*/
  text-align: center;
  align-items: center;
}

.results-card {

  background-color: #282727;

}

.result-photo {
  height: 315px;
  width: 300px;
  background-image: url("https://cdn.buttercms.com/THQwdfyQWCfmpLJQCU3x");
  background-size: cover;
  background-position: center;
  padding-right: 0;
  margin-right: 0 !important;
}

.program-card {
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;

}

.card-outline {
  height: 550px;
  width: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details {
  height: 530px;
  width: 580px;
  background-color: #C42626;


}
/*testing*/

