<div class="article-title-container">
  <div class="article-banner">
    <h1> Past blogs </h1>
  </div>
</div>

<style>

@media (max-width: 550px) {
  .landing-banner h1 {
    font-size: 30px !important;
  }

  .landing-banner h2 {
    font-size: 20px !important;
  }

  .landing-container h2 {
    font-size: 15px !important;
  }

  .landing-container h1 {
    font-size: 15px !important;
  }
}
</style>

<div class="blog-content" style="background-image: -webkit-linear-gradient(150deg, #282727 35%, #111 35%);">
  <div class="blog-container" style="background-image: -webkit-linear-gradient(150deg, #282727 35%, #111 35%); width: 80%;">
    <% @posts.each do |post| %>
      <%= link_to buttercms_post_url(post.slug), method: :get do %>
        <p><%= post.title %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="landing-container">
  <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo1.png", size: "100x100" %>
    <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
  </div>
</div>
