



<div class="article-title-container">
  <div class="article-banner">
    <h1> Blog of the day: </h1>
    <h1><%= @post.title.upcase %></h1>
    <p>TYLER ROSANO | <%= @post.created.to_date %></p>
  </div>
</div>

<style>

@media (max-width: 550px) {
  .landing-banner h1 {
    font-size: 30px !important;
  }

  .landing-banner h2 {
    font-size: 20px !important;
  }

  .landing-container h2 {
    font-size: 15px !important;
  }

  .landing-container h1 {
    font-size: 15px !important;
  }
}
</style>

<div class="blog-content" style="background-image: -webkit-linear-gradient(150deg, #282727 35%, #111 35%);">
  <div class="blog-container" style="background-image: -webkit-linear-gradient(150deg, #282727 35%, #111 35%); width: 80%;">
    <%= @post.body.html_safe %>
  </div>
</div>

<div class="landing-container">
  <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo1.png", size: "100x100" %>
    <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
  </div>
</div>
<div class="container" style="background-color: white;">
  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://https-fitness-app-final-herokuapp-com.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
