<div class="about-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>WHAT WE'RE ABOUT</h2>

    </div>

    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">FITNESS PLANS TAILORED FOR YOU!</h3>
    </div>

  </div>
</div>

<div class="about-content-banner">

</div>

<div class="bio-card" style="display: flex; justify-content: space-between; padding-bottom: 5vw; background-color: white;">
  <div class="tyler-bio">
    <div class="logo-about">
      <%= image_tag "logo1.png", size: "100x100" %>
      <h1 style="padding-left: 30px;">TRANSFORMATION FITNESS</h1>
    </div>
    <div class="noname" style="border-color: grey; border-bottom: solid 1px; margin-right: 10vw; margin-left: 5vw;"
      <h1 style="margin-right: 5vw; margin-left: 5vw;"><strong>Transformation is a process, and as life happens there are tons of ups and downs. It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</strong></h1>
    </div>
    <h3 style="margin-left: 5vw;"">THE JOURNEY STARTS WITH YOU!</h3>
    <div class="bio-container" >
      <div class="tyler-portrait">
      </div>
      <div class="bio-content">
        <p><strong>Transformation</strong> is a process, and as life happens there are tons of ups and downs. It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</p>
        <p><strong style="color: red;">Transformation</strong> is a process, and as life happens there are tons of ups and downs. It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</p>
        <p>It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</p>
      </div>
    </div>
  </div>
  <!-- <div class="more-card">
    <div class="container" style="margin-top: 20px !important;">
    <div class="result-photo">
    </div>
    </div>
    <%= link_to testimonials_path do %>
      <br>
        <div class="row" style="display: flex; justify-content: center;">
          <button type="button" class="started-button" style="border-color: black !important;">
            <strong>RESULTS</strong>
          </button>
        </div>
    <% end %>
  </div> -->
</div>




