<div class="about-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>WHAT WE'RE ABOUT</h2>

    </div>

    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">FITNESS PLANS TAILORED FOR YOU!</h3>
    </div>

  </div>
</div>

<style>

@media (max-width: 770px) {
  .about-banner h2 {
    font-size: 25px !important;
  }

  .about-banner h3 {
    font-size: 15px !important;
  }

  .bio-card h2 {
    font-size: 15px !important;
  }

  .bio-card h1 {
    font-size: 15px !important;
  }

  .program-card {
    height: 700px;
  }

  .card-outline {
    width: 400px;
    height: 700px;
  }

  .card-details {
    width: 380px;
    height: 600px;
  }

}

@media (max-width: 1040px) {
  .program-card {

  }

}

@media (max-width: 390px) {
  .program-card {
    height: 900px;
  }

  .card-outline {
    width: 300px;
    height: 900px;
  }

  .card-details {
    width: 280px;
    height: 800px;
  }

}

@media (max-width: 300px) {
  .about-banner h2 {
    font-size: 20px !important;
  }



  .about-banner h3 {
    font-size: 10px !important;
  }

}

@media (max-width: 380px) {
  .programs h1 {
    font-size: 20px !important;
  }
}

</style>

<div class="bio-card" style="display: flex; justify-content: space-between; padding-bottom: 5vw; background-color: white; padding-top: 30px;">
  <div class="tyler-bio">
    <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
      <%= image_tag "logo1.png", size: "100x100" %>
      <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
      <h1 style="margin-right: 5vw; margin-left: 5vw; border-color: black; border-bottom: solid 1px;"><strong>"Transformation is a process, and as life happens there are tons of ups and downs. It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair."</strong></h1>
      <h3 style="color: #C42626 !important; letter-spacing: 2px;"><strong>THE JOURNEY STARTS WITH YOU!</strong></h3>
    </div>
    <div class="container" style="margin-top: 2vw;">
      <div class="row">
        <div class="tyler-portrait col-sm-12 col-md-4 col-lg-4">
          <h4 style="text-align: center; color: white;"><strong>TRAINER TYLER ROSANO</strong></h4>
        </div>
        <div class="bio-content col-sm-12 col-md-8 col-lg-8">
          <h3 style="text-align: center; letter-spacing: 2px;"><strong>OUR MISSION STATEMENT:</strong></h3>
          <p>We <strong style="color: red;">promise</strong> to provide the highest quality <strong style="color: red;">transformations</strong> not just physically but mentally by only implementing the most effective and powerful strategies available.</p>
          <p>We take <strong style="color: red;">pride</strong> in our service and believe in only delivering the best and we will do absolutely everything in our power and knowledge to ensure that our clients succeed and have the most enjoyable and impactful service available in the process. </p>
          <p>We <strong style="color: red;">believe</strong> in always improving ourselves each and every day so that we may be the best version of ourselves and we strive to inspire others to do the same.</p>
          <p>We settle for nothing but the best and we always work to <strong style="color: red;">encourage</strong> our clients, family and friends to be the same. </p>
          <p>We seek to make the world a <strong style="color: red;">better</strong> place by giving one of the most precious gifts one can receive, optimal health, wellness and a powerful new mindset. By doing so we understand that you will be able to enjoy life more than you ever thought possible and you will be ready take on anything that comes your way.</p>
          <p>Remember <strong style="color: red;">Transformation</strong> is a process, and as life happens there are tons of ups and downs. It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</p>
          <p>It's a journey of discovery - there are moments on mountaintops and moments in deep valleys of despair.</p>
        </div>
      </div>
    </div>
  </div>




  <!-- OUR MISSION STATEMENT

We promise to provide the highest quality transformations not just physically but mentally by only implementing the most effective and powerful strategies available. We take pride in our service and believe in only delivering the best and we will do absolutely everything in our power and knowledge to ensure that our clients succeed and have the most enjoyable and impactful service available in the process. We believe in always improving ourselves each and every day so that we may be the best version of ourselves and we strive to inspire others to do the same. We settle for nothing but the best and we always work to encourage our clients, family and friends to be the same. We seek to make the world a better place by giving one of the most precious gifts one can receive, optimal health, wellness and a powerful new mindset. By doing so we understand that you will be able to enjoy life more than you ever thought possible and you will be ready take on anything that comes your way. -->
</div>

<div class="about-content" style="background-image: -webkit-linear-gradient(150deg, #282727 35%, #111 35%);">
    <div class="programs col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
      <h1 style="letter-spacing: 2px; margin-right: 5vw; margin-left: 5vw; border-color: black; border-bottom: solid 1px;"><strong>PROGRAMS</strong></h1>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="program-card col-sm-12 col-md-12 col-lg-6">
        <div class="card-outline">
          <div class="card-details">
            <h3 style="padding-top: 5px; padding-bottom: 5px; background-color: red; letter-spacing: 1px; text-align: center;"><strong><i class="fas fa-users"></i> GROUP TRAINING</strong></h3>
            <p style="text-align: center; font-style: italic;"> Semi Private Training (2-4 clients)</p>
            <br>
            <h3 style="text-align: center;">What's included?</h3>
            <ul>
              <li>Small group classes led by our expert trainers.</li>
              <li>Our customized flexible meal program.</li>
              <li>Supplement guidance.</li>
              <li>Motivation, support, accountability, and community.</li>
              <li>Phone or email access to your coach.</li>
              <li>Additional online coaching for days outside of your classes.</li>
              <li>Access to our virtual Transformation Coaching App (featuring exercise programs, videos, and descriptions as well as everything featured in our virtual Transformation experience program).</li>
            </ul>
            <br>
            <br>
            <br>
            <div class="row" style="display: flex; justify-content: center;">
              <%= link_to contact_path do %>
                <button type="button" class="btn btn-danger" style="padding-left: 30px; padding-right: 30px; background-color: black !important;"><strong>REGISTER </strong></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="program-card col-sm-12 col-md-12 col-lg-6">
        <div class="card-outline">
          <div class="card-details">
            <h3 style="padding-top: 5px; padding-bottom: 5px; background-color: red; letter-spacing: 1px; text-align: center;"><strong><i class="fas fa-user"></i> INDIVIDUAL TRAINING</strong></h3>
            <p style="text-align: center; font-style: italic;"> One on one training, and the most in depth and personalized training program we offer.</p>
            <h3 style="text-align: center;">What's included?</h3>
            <ul>
              <li>One on one training with our expert trainers</li>
              <li>Fully customized training program.</li>
              <li>Fully customized meal program.</li>
              <li>Supplement guidance.</li>
              <li>Postural correction, and rehab (if needed).</li>
              <li>Motivation, support, accountability, and community.</li>
              <li>Phone or email access to your coach.</li>
              <li>Additional online coaching.</li>
              <li>Access to our virtual Transformation Coaching App (featuring exercise programs, videos, and descriptions as well as everything featured in our virtual Transformation experience program).</li>
              <li>Show prep coaching (optional).</li>
            </ul>
            <div class="row" style="display: flex; justify-content: center;">
              <%= link_to contact_path do %>
                <button type="button" class="btn btn-danger" style="background-color: black !important; padding-left: 30px; padding-right: 30px;"><strong>REGISTER </strong></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quote">
  <h1>"Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength."</h1>
</div>



