<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <h2>CONTACT</h2>
    </div>
  </div>
</div>

<div class="about-content-banner">
  <h2>GET THAT ROCK HARD BODY TODAY!</h2>
</div>

<div class="sign-up">
</div>

<div class="info-container">
  <div class="location">
  </div>

  <div class="contact-info">
  </div>
</div>
