
<%= render 'shared/flashes' %>
<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>CONTACT</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">GET THAT ROCK HARD BODY TODAY!</h3>
    </div>
  </div>
</div>
<style>

@media (max-width: 770px) {
  .contact-banner h2 {
    font-size: 25px !important;
  }

  .contact-banner h3 {
    font-size: 10px !important;
  }

  .landing-container h2 {
    font-size: 15px !important;
  }

  .landing-container h1 {
    font-size: 15px !important;
  }

}

@media (max-width: 300px) {
  .about-banner h2 {
    font-size: 20px !important;
  }

  .about-banner h3 {
    font-size: 10px !important;
  }

}

.btn:hover {
  opacity: 0.8 !important;
  transition: all 0.9s ease 0s;
}

</style>


<div class="landing-container">
  <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo1.png", size: "100x100" %>
    <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; align-items: center; margin-top: 1vw;">
      <h1 style="margin-right: 5vw; margin-left: 5vw; border-color: black; border-bottom: solid 1px;"><strong>LEAVE YOUR NAME AND EMAIL</strong></h1>

    </div>

  <div class="container">
      <%= form_tag(contact_path) do %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name">
            <!-- <input class="form-control" type="text" id="name" placeholder="First Last"> -->
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message (optional)</label>
          <textarea class="form-control" type="text" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block" style="border-radius: 0 !important; background-color: #C42626 !important; letter-spacing: 2px;">SEND!</button>
      <% end %>
  </div>
</div>



<div class="sign-up">
</div>

<div class="info-container">
  <div class="location">
  </div>

  <div class="contact-info">
  </div>
</div>
