<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>TESTIMONIALS</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">SEE THE RESULTS FROM OUR CLIENTS!</h3>
    </div>
  </div>
</div>
<div class="about-content">
  <div class="container">
  <div class="row">
    <% @images.each_with_index do |image, index| %>
      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="card">
            <div class="card-image" style="background-image: url(<%= image %>);">
            </div>
            <div class="card-content">
              <p><%= @quotes[index] %></p>
            </div>
          </div>
          <p></p>
      </div>
    <% end %>
  </div>
</div>
</div>
