<div class="contact-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center; border-bottom: solid 1px; border-color: white;">
      <h2>TESTIMONIALS</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center; margin-top: 1vw;">
      <h3 style="letter-spacing: 3px;">SEE THE RESULTS FROM OUR CLIENTS!</h3>
    </div>
  </div>
</div>

<style>

.btn:hover {
  opacity: 0.8 !important;
  transition: all 0.9s ease 0s;
}

@media (max-width: 550px) {
  .contact-banner h2 {
    font-size: 25px !important;
  }

  .contact-banner h3 {
    font-size: 10px !important;
  }

  .landing-container h2 {
    font-size: 15px !important;
  }

  .landing-container h1 {
    font-size: 15px !important;
  }
}


@media (max-width: 1000px) {
  .card-image {
    height: 300px;
  }

  @media (max-width: 768px) {
  .card-image {
    height: 200px;
  }

  @media (max-width: 575px) {
  .card-image {
    height: 450px;
  }

   @media (max-width: 516px) {
  .card-image {
    height: 350px;
  }

   @media (max-width: 414px) {
  .card-image {
    height: 300px;
  }

  @media (max-width: 360px) {
  .card-image {
    height: 250px;
  }
}
</style>

<div class="landing-container">
  <div class="text-center" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo1.png", size: "100x100" %>
    <h1 style="margin-left: 30px; letter-spacing: 2px;"><strong><h1 style="color: #C42626; letter-spacing: 2px;"><strong>TRANSFORMATION</strong></h1> FITNESS</strong></h1>
  </div>
</div>
<div class="about-content">
  <div class="container">
  <% @images.each_with_index do |image, index| %>
    <div class="row" style="margin-bottom: 5vw; background-color: white; border-radius: 1%; padding: 1vw;">
      <div class="col-xs-5 col-sm-5 col-md-5" style="padding: 0 !important;">
        <div class="card-image" style="background-image: url(<%= image %>);">
        </div>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7">
        <div class="card-content">
          <p><strong>"<%= @quotes[index] %>"</strong></p>
          <!-- <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p style="color: red !important;"><strong>Name</strong></p> -->

        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

